@import "tailwindcss";

#root {
  text-align: center;
  width: 100%;
  height: 100%;
}

.grid-background {    
    background-image: 
        linear-gradient(to right, rgba(235,235,235,10%) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(235,235,235,10%) 1px, transparent 1px);
        
    background-size: 40px 40px; 
    
    height: 400%;
    width: 100%;
}
